.tag {
    margin-top: 10px;
}

.project-list {
    margin: 0;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
    border-radius: 4px;
    min-height: 190px;
}

.card {
    padding: 10px;
}

.tag.active {
    background: #2b3035;
}

.project {
    min-width: 378px;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.search-button {
    
}