:root {
    height: 90vh;
}

body, main {
    height: 100%;
}

.base-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    border-radius: 100%;
    margin: 10px;
    height: 50px;
    margin: 5px;
}

.navbar-collapse {
    justify-content: right;
}

.icon {
    height: 20px;
    margin-top: -5px;
    margin-right: 2px;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.pagination-nav {
    padding-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: min-content;
}

.loading {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #636a71;
    font-size: 20px;
}