:root {
    height: 90vh;
}

.flexrow {
    display: flex;
    flex-direction: row;
}
.flexcol {
    display: flex;
    flex-direction: column;
}

body, main {
    height: 100%;
}

.base-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.logo {
    border-radius: 100%;
    margin: 10px;
    height: 50px;
    margin: 5px;
}

.navbar-collapse {
    justify-content: right;
}

.icon {
    height: 20px;
    margin-top: -5px;
    margin-right: 2px;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.pagination-nav {
    padding-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: min-content;
}

.loading {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #636a71;
    font-size: 20px;
}

.btn-right {
    float: right;
    margin-left: 5px;
}

.form-field-container {
    margin-top: 20px;
}

form > .form-field-container:first-of-type {
    margin-top: 0;
}

form > .form-field-container:last-of-type {
    margin-bottom: 20px;
}